* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2f2f2f;
}

.container {
  position: relative;
  text-align: center;
  color: #a8deef;
}

.container h1 {
  margin-top: 60px;
}

.tools_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh; /* Высота изображения */
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(47, 47, 47, 0.5) 75%,
      rgba(47, 47, 47, 1) 100%
    ),
    url("/img/tools.png") no-repeat center top/cover;
  z-index: -1;
}

.tools_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    transparent
  ); /* Цвет затемнения с прозрачностью 80% */
  z-index: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 160px;
  margin-right: 160px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
  width: 150px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a button {
  border-radius: 35px;
  border: 2px solid black;
  font-weight: 700;
  font-size: 25px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #a8deef;
  transition: background-color 0.5s;
}

.nav-links a button:hover {
  background-color: #ff00e5;
}

.instruments {
  margin-top: 350px;
  text-align: center;
  font-weight: 200;
  font-size: 35px;
  color: #a8deef;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tool_frame {
  margin-top: 55px;
  margin-bottom: 55px;
  margin-left: 100px;
  margin-right: 100px;
  width: 200px;
  height: 200px;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #a8deef;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: border-color 0.5s; /* Добавляем плавный переход для цвета рамки */
}

.tool_wrapper:hover .tool_frame,
.tool_wrapper:hover .text-below {
  border-color: #ff00e5;
  color: #ff00e5;
}

.text-below {
  margin-top: -45px; /* Отступ сверху для текста, чтобы он был ниже .tool_frame */
  text-align: center; /* Центрируем текст по горизонтали */
  font-size: 24px;
  transition: color 0.5s; /* Плавный переход для цвета текста */
}

.tool_wrapper:nth-last-child(-n + 3) {
  margin-bottom: 70px; /* Добавляем дополнительный отступ снизу для последних трех блоков */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #2f2f2f;
  margin: auto; /* Для горизонтального центрирования */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Для вертикального центрирования */
  padding: 20px;
  border: 1px solid #888;
  height: 500px;
  width: 1150px;
  border-radius: 30px;
  overflow: hidden; /* Предотвращает прокрутку */
}

.square {
  width: 200px;
  height: 200px;
  border: 2px solid #a8deef;
  background-size: contain; /* Растягиваем изображение, чтобы оно занимало всю площадь */
  background-repeat: no-repeat; /* Предотвращаем повторение изображения */
  background-position: center; /* Выравниваем изображение по центру */
  border-radius: 20px;
  margin-left: 35px;
  margin-top: 15px;
}

.square-second {
  width: 200px;
  height: 200px;
  border: 2px dashed #a8deef; /* Пустой квадратик будет иметь пунктирную рамку */
  border-radius: 20px;
  margin-left: 35px;
  margin-top: 15px;
}

.tool-title {
  margin-left: 80px;
  font-size: 18px;
  margin-top: 10px;
  color: #a8deef;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
