* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  margin-top: 168px;
  text-align: center;
  color: #a8deef;
}

.tools_img {
  position: absolute;
  margin-top: -168px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
